html, body {
	font-family: sans-serif
}

header {
	padding: 20px;
}

h1 {
	font-size: 40px;
}

h1, h2 {
	padding: 20px
}

header img {
	width: 200px;
	float: right;
	display: inline-block;
}

.liste {
	float: right;
	font-style: italic;
	color: white;
	align-content: middle
}

.harita {
	display: inline-block;
	float: top;
}
